@font-face {
  font-family: 'EuropaBrush';
  src:  url('./assets/fonts/EuropaBrush.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.5;
}

header {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url('./assets/hero_983.webp') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  animation-name: flash;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
}

@keyframes flash {
  0% { opacity: .3; }
  5% { opacity: 1; }
}

@media all and (min-width: 983px) {
  header {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
      url('./assets/hero_1427.webp')
  }
}

@media all and (min-width: 1427px) {
  header {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
      url('./assets/hero_1856.webp')
  }
}

@media all and (min-width: 1856px) {
  header {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
      url('./assets/hero_1920.webp')
  }
}

.App-header img{
  width: 150px;
  height: auto;
  min-height: 150px;
}

.App-header {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
}

h1 {
  margin: 0 10px;
  font-size: 3em;
  line-height: 1.25;
  font-family: EuropaBrush, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 6em;
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 8em;
    line-height: 1.05;
  }
}

main {
  margin: 10px auto;
  font-size: 16px;
  
}