html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.5;
}

header {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url('./assets/hero_1050.webp') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

@media all and (min-width: 1050px) {
  header {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
      url('./assets/hero_1586.webp')
  }
}

@media all and (min-width: 1586px) {
  header {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
      url('./assets/hero_1920.webp')
  }
}

.App-logo {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-10%, -50%);
}

.App-logo img{
  width: 100%;
  height: auto;
  min-height: 150px;
}

.App-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
}

main {
  margin: 10px auto;
  font-size: 16px;
  
}