@font-face {
  font-family: 'EuropaBrush-Regular';
  src:  url('./assets/fonts/EuropaBrush-Regular.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.5;
}

header {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url('./assets/hero_983.webp') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

@media all and (min-width: 983px) {
  header {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
      url('./assets/hero_1427.webp')
  }
}

@media all and (min-width: 1427px) {
  header {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
      url('./assets/hero_1856.webp')
  }
}

@media all and (min-width: 1856px) {
  header {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
      url('./assets/hero_1920.webp')
  }
}

.App-logo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-logo img{
  width: 100%;
  height: auto;
  min-height: 150px;
}

.App-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
}

h1 {
  margin: 0 10px;
  font-size: 3em;
  line-height: 1.25;
  font-family: EuropaBrush-Regular, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 4em;
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 7em;
    line-height: 1.05;
  }
}

main {
  margin: 10px auto;
  font-size: 16px;
  
}