.BoxAsset {
  box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  margin: 5px;
  padding: 7px 10px 5px 10px;
  background-color: #FFF;
}

.Boxes-tweets .BoxAsset {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5px;
  border-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.Boxes-hashtags .BoxAsset {
  color: #19cf86;
}

.BoxAsset-user {
  font-size: 18px;
  font-weight: bold;
}

.BoxAsset-handle,
.BoxAsset-timestamp {
  font-size: 14px;
  color: #657786;
}

@media (min-width: 600px) {

}

@media (min-width: 900px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1800px) {

}