.BoxAsset {
  box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  font-size: 1.5em;
  font-weight: 400;
  margin: 10px;
  padding: 7px 10px 5px 10px;
  background-color: #FFF;
}

.Boxes-tweets .BoxAsset {
  margin-bottom: 0;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 30px 40px;
  border-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.Boxes-hashtags .BoxAsset {
  color: #19cf86;
}

.BoxAsset-user {
  font-size: 18px;
  font-weight: bold;
}

.BoxAsset-handle,
.BoxAsset-timestamp {
  font-size: 14px;
  color: #657786;
}