.Boxes {
  height: 25vh;
  position: relative;
  box-sizing: border-box;
  padding: 0.5em;
  background: rgb(238, 214, 80);
  margin: 0 10px 20px;
  box-shadow: 3px 3px 4px 6px rgba(32, 33, 36, 0.28);
}

.Boxes-knob {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(56, 2, 22);
  box-shadow: 5px 5px 9px rgba(32, 33, 36, 0.28);
}

.open .Boxes-knob {
  display: none;
}

.Boxes-container {
  display: flex;
	max-height: 0;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.open .Boxes-container {
  max-height: 100%;
}

.Boxes-inner {
  display: flex;
  flex: 1 1;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-size: 84.85px 84.85px;
  overflow-y: auto;
  overflow-x: hidden;
}

.Boxes-label {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #4e413b;
  box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  padding: 5px;
  background-color: #f6f6f8;
}

.Boxes-label.close {
  display: none;
}

.Boxes-hashtags {
  background-color: #F6F0CF;
}

.Boxes-tweets {
  background-color: #8ac3cc;
}

@media (min-width: 600px) {

}

@media (min-width: 900px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1800px) {

}