.Boxes {
  background-color: #887600;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.Droppable {
  width: 100%;
  min-height: 120px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}