.Image-container {
  margin: 15px;
	padding: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  transform: none;
  scroll-snap-align: center;
}

.Image-container::before {
  content: url('./assets/pin.svg');
  margin-left: calc(50% - 15px);
  z-index: 2;
}

/* Rotate all even images -2 degrees */
.Image-container:nth-child(2n) {
  transform: rotate(-2deg);
}

/* Rotate every fifth image by 2 degrees */
.Image-container:nth-child(3n) {
  transform: rotate(2deg);
}

.duotone {
  position: relative;
  top: -25px;
  display: grid;
}

.duotone::after {
  position: absolute;
  content: "© Staatsarchiv Freiburg";
  content: "";
  font-size: 22px;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  pointer-events: none;
}

.yellow-red {
  background-color: rgba(221, 204, 0, 1);
}

.yellow-red img {
  filter: grayscale(100%) contrast(1.2);
  mix-blend-mode: darken;
}

.yellow-red::after {
  background-color: rgba(221, 0, 0, 1);
  mix-blend-mode: lighten;
  color: white;
}

.green-blue {
  background-color: #00ff36
}

.green-blue img {
  filter: grayscale(100%) contrast(1.2);
  mix-blend-mode: multiply;
}

.green-blue::after {
  background-color: #23278a;
  mix-blend-mode: lighten;
  color: white;
}

.purple-green {
  background-color: #88169d;
}

.purple-green img {
  filter: grayscale(100%) contrast(1.2);
  mix-blend-mode: lighten;
}

.purple-green::after {
  mix-blend-mode: hard-light;
  background: linear-gradient(to top left, #75d775, #321a5b);
}

.Image {
  width: 100%;
}