.ImageList {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 10px;
  grid-auto-flow: column;
  grid-auto-columns: calc(66% - 40px);
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media all and (min-width: 768px) {
  .ImageList {
    grid-auto-columns: calc(50% - 40px);
  }
}

.ImageList::-webkit-scrollbar {
  display: none;
}

.ImageList::before,
.ImageList::after {
  content: '';
  width: 10px;
}

.ImageList-share {
  width: 100%;
  text-align: center;
}

.react-sharing-button__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
  border-radius: 5px;
  transition: 50ms ease-out;
  padding: 0.5em 0.75em;
  line-height: 1.2em;
}

.react-sharing-button__icon {
  fill: #fff;
  stroke-width: 0;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  vertical-align: bottom;
}

.react-sharing-button__text {
  padding-left: 0.4em;
  line-height: 1.2em;
}

.react-sharing-button--download {
  background-color: #A32C19;
  cursor: pointer;
}

.react-sharing-button--download:hover {
  background-color: #c23321;
}

.react-sharing-button--facebook {
  background-color: #3b5998;
}

.react-sharing-button--facebook:hover {
  background-color: #2d4373;
}

.react-sharing-button--twitter {
  background-color: #105A98;
}

.react-sharing-button--twitter:hover {
  background-color: #2795e9;
}
