.ImageList {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 0;
  grid-auto-flow: column;
  grid-auto-columns: calc(90% - 40px);
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ImageList::-webkit-scrollbar {
  display: none;
}

.ImageList::before,
.ImageList::after {
  content: '';
  width: 10px;
}

/* Sharing */
.ImageList-share {
  width: 100%;
  text-align: center;
}

.react-sharing-button__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
  border-radius: 5px;
  padding: 0.5em 0.75em;
  font: 400 0.8em Arial;
}

.react-sharing-button__icon {
  fill: #fff;
  stroke-width: 0;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  vertical-align: bottom;
}

.react-sharing-button__text {
  padding-left: 0.4em;
  line-height: 1.2em;
}

.react-sharing-button--download {
  background-color: #A32C19;
  cursor: pointer;
  border: none;
}

.react-sharing-button--external {
  background-color: #25D366;
  cursor: pointer;
  border: none;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  padding: 0.5em 0.75em;
}

.resp-sharing-button__icon svg,
.resp-sharing-button__icon img {
  width: 1em;
  height: 1em;
  margin: 0;
  vertical-align: middle
}

.resp-sharing-button__icon--solid {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--instagram {
  background-image: linear-gradient( 0deg, #E09B3D, #C74C4D 30%, #C21975 60% #7024C4 )
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
}

@media (min-width: 600px) {
  .ImageList {
    grid-auto-columns: calc(66% - 40px);
  }
}

@media (min-width: 900px) {
  .ImageList {
    grid-auto-columns: calc(45% - 40px);
  }
}

@media (min-width: 1200px) {
  .ImageList {
    grid-auto-columns: calc(33% - 40px);
    grid-gap: 10px;
    margin-top: 10px;
  }
}

@media (min-width: 1800px) {
  .ImageList {
    grid-auto-columns: calc(25% - 40px);
    grid-gap: 15px;
    margin-top: 10px;
  }
}