@font-face {
  font-family: 'CinnamonCake';
  src:  url('./assets/fonts/CinnamonCake.ttf') format('truetype');
}

.ImageAsset {
  font-size: 1.5em;
  font-weight: 400;
  margin: 10px;
  height: fit-content;
  font-family: CinnamonCake, arial, sans-serif;
  background-color: #FFF;
}