.ImageList {
  display: flex;
  overflow-x: auto;
  min-width: 100%;
  min-height: 200px;
}

.ImageList::-webkit-scrollbar {
  display: none;
}

.ImageList-line {
  border-top: 3px solid #000;
  position: absolute;
  top: 650px;
  width: 100%;
  z-index: 2;
}